<article class="row mt-1">
  <section class="structure_table col-4">{{ user }}</section>
  <section class="structure_table col-8">Name Chat</section>
</article>
<article class="row">
  <section class="structure_table col-4 max-height"></section>
  <section class="structure_table col-8 max-height">

    {{#each array}}
        <section class="display mt-2">
            {{ nameuser }}: {{ text }}
            <span class="time-right">{{time time}}</span>
        </section>
    {{/each}}
    <div class="send_message">
      <input type="text" />
      <button>Enviar</button>
    </div>
  </section>
</article>
