<article class="row mt-1">
    <section class="col-4">Name User</section>
    <section class="col-8">Name Chat</section>
</article>
<article class="row">
    <section class="col-4 max-height"></section>
    <section class="col-8 max-height">
        <div class="send_message">
            <input type="text"> 
            <button>Enviar</button>
        </div>
    </section>
</article>