<form action="chat" method="post">
    <h1>Welcome to Make Chat</h1><br />
    <img src="img/messages.png">
    <input name="user" type="text" placeholder="User name" required><br />
    <button class="mt-3">Entrar</button>
</form>