body {
  background-color: #9399cb;
  margin: 0;
}

.structure_table {
  border: 2px solid black;
  text-align: center;
  font-size: 25px;
}

.max-height {
  height: 90vh;
}

.display {
  text-align: start;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  width: 70%;
}

.myDisplay {
  float: right;
  border-color: #ccc;
  background-color: #ddd;
}

.time-right {
  float: right;
  color: #aaa;
}

.send_message {
  position: absolute;
  padding-bottom: 5px;
  bottom: 0;
}

.send_message button {
  border: 1px solid #198292;
  background-color: #1bc3ddb7;
  border-radius: 10px;
}

.send_message input {
  width: 40vw;
  border: 1px solid black;
  border-radius: 8px;
}
